<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kalkulator BMI

      <button class="questionMark"><ion-icon (click)="presentPopover($event)" name="information-circle"></ion-icon></button>
      <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
        <ng-template>
          <ion-content class="ion-padding">BMI (Body Mass Index) to prosty wskaźnik oceny masy ciała w zależności od wzrostu.
             Klasyfikuje się osoby w kategoriach, takich jak niedowaga, prawidłowa masa ciała, nadwaga i otyłość.
             Pomaga identyfikować potencjalne ryzyko zdrowotne związane z wagą, choć nie uwzględnia składu ciała czy innych czynników.</ion-content>
        </ng-template>
      </ion-popover>
    
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    


    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
      
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item>
      <ion-input
        label="Wzrost"
        labelPlacement="floating"
        [clearOnEdit]="true"
        placeholder="Wpisz swój wzrost"
        #height
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Waga"
        labelPlacement="floating"
        [clearOnEdit]="true"
        placeholder="Wpisz swoją wagę"
        #weight
      >
      </ion-input>
    </ion-item>

    <ion-button (click)="calculateBMI(height.value, weight.value)">
      <ion-icon slot="start" name="calculator"></ion-icon>
      Policz
    </ion-button>

    <ion-item>
      <ion-label>
        <h2>Twoje BMI:</h2>
        <p>{{bmi}} {{ bmiRange }}</p>
      </ion-label>
    </ion-item>
  
    
  </ion-list>

</ion-content>
